@import url('https:ravenmirth.github.io/library/SourceHanSerifCN-ExtraLight.otf');

@font-face {
  font-family: "Source Han Serif";
  src:
    url("../library/SourceHanSerifCN-ExtraLight.otf") format("opentype");
    font-weight:200;
}
@font-face {
  font-family: "Source Han Serif";
  src:
    url("../library/SourceHanSerifCN-Light.otf") format("opentype");
    font-weight:300;
}
@font-face {
  font-family: "Source Han Serif";
  src:
    url("../library/SourceHanSerifCN-Regular.otf") format("opentype");
    font-weight:400;
}
@font-face {
  font-family: "Source Han Serif";
  src:
    url("../library/SourceHanSerifCN-Medium.otf") format("opentype");
    font-weight:500;
}
@font-face {
  font-family: "Source Han Serif";
  src:
    url("../library/SourceHanSerifCN-SemiBold.otf") format("opentype");
    font-weight:600;
}
