body {
  font-size: 12pt;
  font-family: "Source Han Serif", serif;
  font-color: DarkSlateGray;
  background-color: AliceBlue;
  text-align: justify;
  line-height: 2;
}

::selection {
    background-color: BlueMagenta;
    linear-gradient(to bottom right, BlueMagenta, CornFlowerBlue);
}

a.hover {
  font-color: LightSteelBlue;
}
